name: Check typing

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - '**/*.md'
  pull_request:
    paths-ignore:
      - '**/*.md'

jobs:
  check-types:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: '22'
        cache: "npm"
        cache-dependency-path: "package.json"

    - name: Check CI cache
        id: check-cache
        uses: actions/cache@v4
        with:
          path: ./node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('./package.json') }}
          restore-keys: |
            ${{ runner.os }}-node-${{ hashFiles('./package.json') }}
    
    - name: Install dependencies
      if: steps.check-cache.outputs.cache-hit != 'true'
      run: npm install

    - name: Type check
      run: npm run check-types
  
